.content {
    width: 80%;
    height: 100%;
    display: flex;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;;
    border: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: #3f3f3f;
}