.Estimator {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Params {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myDivider {
    height: 100px;
}

.Estimate {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-content: stretch;
    align-items: center;
}

.Result {
    /* padding-top: 50px; */
    width: 50px;
    height: 50%;
    font-size: 24px;
    align-self: flex-center;
}